@font-face {
    font-family: durandal;
    src: url(../fonts/Durandal-Grotesque.ttf);
}

@font-face {
    font-family: pixelgrid;
    src: url(../fonts/pixelgridtrial-circlemids.otf);
}

@font-face {
    font-family: ppfraktion-reg;
    src: url(../fonts/PPFraktionMono-Regular.otf);
}

@font-face {
    font-family: ppfraktion-bold;
    src: url(../fonts/PPFraktionMono-Bold.otf);
}

:root {
    --lime: #c3ff0eff;
    --black: #000000ff;
    --fuchsia: #ff00ffff;
    --yellow: #f5f500ff;
    --red: #ff0d1aff;
    --blue: #3201f1ff;
    --pink: #e5249bff;
    --cyan: #01ffffff;
    --white: #ffffffff;
    --clear: #00000000;
}

h1 {
    font-size: 200px;
    font-family: durandal;
    margin: 0px;
}

h2 {
    font-size: 80px;
    font-family: pixelgrid;
}

body {
    font-size: 20px;
    font-family: ppfraktion-bold;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    text-align: center;
    align-items: center;
}

button {
    font-family: ppfraktion-bold;
    color: var(--text);
    background-color: var(--clear);
    padding: 10px;
    border-color: var(--clear) var(--clear) var(--text) var(--clear);
}

.heading {
    padding-top: 100px;
}

.right {
    display: block;
    text-align: right;
    width: auto;
}

.left {
    display: block;
    text-align: left;
    width: auto;
}

#noise {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* background-image: url(../noise.svg); */
}

#toosmall {
    display: none;
}


.container {
    display: grid;
    place-items: center;
    height: 100vh;
    align-content: center;
}

.vert-align {
    display: grid;
    place-items: center;
}


table.clear {
    border: 0px solid RGB(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
    background-color: RGB(0, 0, 0, 0);
    height: max-content;
}

a.invert {
    font-family: pixelgrid;
    font-size: 70px;
    color: var(--link);
}

a.invert:hover {
    color: var(--linkhover);
}
a.invert:active {
    color: var(--linkactive);
}

.outer {
    width: 480px;
    height: max-content;
    margin: auto;
    border: 0px solid #000;
    position: relative;
}

ul.links {
    list-style: none;
}

.links li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    
}

.image-holder {
    display: block;
    margin: auto;
    width: 400px;
}
